@model WebApplication7.Models.ThekedarOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<style>
    textarea {
        margin: 0px;
        border-radius: 5px;
        width: 100%;
        height: 127px;
    }

    .color {
        background-color: orange;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.8s;
    }

    .color2 {
        background-color: orange;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.8s;
    }

    .color:hover {
        opacity: 1
    }

    .color2:hover {
        opacity: 1;
    }
</style>
<script>
    $(document).ready(function () {
        CheckVoucherNo();
        $("#orderno").prop("readonly", true);
        $("#advance").on("keyup", function () {
            var ttl = $("#total").val();
            var adv = $("#advance").val();
            var bal = ttl - adv;
            $("#balance").val(bal);
        })
    })
    function CheckVoucherNo() {
        $.ajax({
            type: "POST",
            url: "/Orders/FindOrderNo",
            success: function (data) {
                $("#orderno").val(data);
            }
        });
    }
</script>

<div class="col-md-12" id="maindiv" style="background-color:#ffffff;border-radius:5px;padding:10px;box-shadow: rgba(0, 0, 0, 0.16) 5px 10px 5px, rgba(0, 0, 0, 0.23) 0px 3px 5px">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Registerform" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ThekedarOrder</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>OrderNo.</b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control", id = "orderno" } })
                    @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Customer Name</b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Stock Type</b></span>
                </div>

                <div class="col-md-6">
                    @Html.DropDownList("StockId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StockId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Thekedar</b></span>
                </div>

                <div class="col-md-6">
                    @Html.DropDownList("ThekedarId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ThekedarId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Total Price</b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.TotalPrice, new { htmlAttributes = new { @class = "form-control",id="total" } })
                    @Html.ValidationMessageFor(model => model.TotalPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Quantity</b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Order Date</b></span>
                </div>

                <div class="col-md-2">
                    @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control", type = "Date" } })
                    @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Delivery Date</b></span>
                </div>

                <div class="col-md-2">
                    @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control", type = "Date" } })
                    @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Status</b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Is Delivered</b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.IsDelivered, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsDelivered, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Advance </b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.Advance, new { htmlAttributes = new { @class = "form-control",id="advance" } })
                    @Html.ValidationMessageFor(model => model.Advance, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Remaining Balance</b></span>
                </div>

                <div class="col-md-6">
                    @Html.EditorFor(model => model.RemainingBalance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RemainingBalance, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <span><b>Week#</b></span>
                </div>

                <div class="col-md-6">
                    @Html.DropDownList("WeekId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WeekId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
    <div class="col-md-12 col-md-offset-2 col-sm-12 col-lg-12">
        <br />
        <button class="col-md-2 form-control color2" onclick="window.location.href='/ThekedarOrders/Index'" style="border-radius:35px;border:hidden;margin-right:10px;background-color:#ff0000;color:white;font-size:15px;width:98px;height:38px;font-family:Calibri" id="return"> Return</button>
        <input class="col-md-2 form-control color" id="submit" type="submit" form="Registerform" value="Save" style="border-radius:35px;color:white;border:hidden;background-color:slateblue;font-size:15px;width:98px;height:38px;font-family:Calibri" />
        <br /><br /><br />

    </div>

</div>
