@model WebApplication7.Models.StockCreationHistory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StockCreationHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOfInventory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOfInventory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
